Source: libclass-accessor-fast-contained-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Oliver Gorwits <oliver.gorwits@oucs.ox.ac.uk>
Standards-Version: 3.6.1

Package: libclass-accessor-fast-contained-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libclass-accessor-perl
Description: Fast accessors with data containment
 This module does two things differently to the venerable
 Class::Accessor::Fast:
 .
 *   Fields are stored at arms-length within a single key of $self,
     rather than directly in the $self hashref.
 .
 *   "new()" allows mixin into an existing object, rather than creating
     and returning a new blessed hashref. To do this, just call something
     like:
 .
      my $self = Some::Other::Class->new;
      $self = $self->Class::Accessor::Fast::Contained::new;
